* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #652CD1, #121826);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    height: 100vh;
}

#step-1,
#step-2,
#step-3 {
    color: #E5E7EB;
    width: 80%;
    border: #4D5562 solid 1px;
    background-color: #212936;
    border-radius: .8rem;
    padding: 2.5rem;
}

h1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

label {
    color: #A1A1A9;
    display: block;
    margin-bottom: .4rem;
    font-size: .75rem;
    font-weight: 500;
}

input {
    color: #E5E7EB;
    background-color: #212936;
    padding: .8rem;
    border: #4D5562 solid 2px;
    width: 100%;
    border-radius: .6rem;
    outline: none;
}

input::placeholder {
    color: #4D5562;
}

input:focus {
    border: solid 2.3px #845EEE;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}


.button {
    display: flex;
    justify-content: center;
}

button {
    background-color: #652CD1;
    border: none;
    color: #E5E7EB;
    font-size: .875rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: 2rem;
    width: 9rem;
}

#step-2 .option-bar{
    display: flex;
}

.option-bar input[type="radio"] {
    visibility: hidden;
    background-color: #4D5562;
    width: 0px;
}

.option-bar label {
    padding: 0;
    margin: 0;
    background-color: #4D5562;
    color: #E5E7EB;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: .6rem;
}

.option-bar input[type="radio"]:checked + label {
    background-color: #652CD1;
}

#step-3 p{
    color: #A1A1A9;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

#step-3 span,
#step-3 li{
    color: #E5E7EB;
    font-weight: 600;
}

#step-3 ul{
    margin-left: 1.5rem;
}

.summary-content {
    margin-bottom: 1.8rem;
}

#step-3 button{
    display: block;
    margin: auto;
}

/* #step-2,
#step-3 {
    display: none;
} */

.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.step-indication {
    margin-right: 1.4rem;
    color: #A1A1A9;
    font-size: .75rem;
    font-weight: 500;
}
.stepper .radio-wrapper{
    width: .75rem;
    height: .75rem;
    border-radius: 50%; /* Create circular radio buttons */
    margin-right: .5rem;
    display: flex;
}

.stepper input[type="radio"]:checked {
    appearance: none;
    background-color: #652CD1;
    border: 2.5px solid #845EEE;
    margin: 0;
    padding: 0;
    transform: scale(1.5);
}

.stepper input[type="radio"] {
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #652CD1;
    cursor: pointer;
}